body {
    background-color: #c5d6f0;
;
}
h1{
    color: #0f1b27;
    font-family: 'Georgia', serif;
    text-align: center;
}
p{
    color: #0f1029;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.button{
    background-color: #3f4873;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-group{
    margin-top: 10px;
    text-align: center;
    background-color: #3f4873;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration-color: #d5ddf1;
}
.jumbotron{
    background-color: #d5ddf1;
    padding: 20px;
    border-radius: 5px;
}